@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="page-title bg-info" style="margin-top: 40px; width: fit-content;">@ViewData["Title"] </h1>

<p class="stats-text">Hier ist nichts. Wenn Sie auf dieser Seite gelandet sind, dann gehen Sie bitte wieder. Danke.</p>
