@{
	ViewBag.Title = "Löschen Erfolgreich";
}

<div class="text-center">
    <h1>Das Projekt wurde erfolgreich gelöscht!</h1>
    <p>Alle Mitarbeiter haben automatisch eine Kündigung erhalten!</p>
</div>